snippet PLN "A fmt print statement"
fmt.Println(${1:A print statement with a string literal or format string})
endsnippet

snippet SHEBANG "A pseudo shebang that makes go script-like"
//usr/bin/env go run "$0" "$@"; exit
endsnippet
