# Ignore plugins
plugin/

# Local overrides
local-vars.vim
local-configs.vim
lua/local-pre.lua
lua/local-post.lua

# netrwhist - the network change history file, specific to local
.netrwhist

# Ignore vim sessions
Session.vim
